.Container{
  /*border: red;
  border-width: 1;
  border-style: solid;*/
  padding: 20px;
}

.Mexico{
  text-align: center;
  margin-bottom: 25px;
}

.InfoText h2{
  text-align: center;
  color: #00B3A1;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.InfoText p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  color: ##575A65;
  font-weight: 300;
  margin-bottom: 1.0em;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
